/* colors variables */
$first-color: #43484D; /* dark grey */

$second-color: #86939E; /* grey */

$third-color: #358ED7; /* blue */

$fourth-color: #F9F9F9; /* lighter grey */

$fifth-color: #7DC855; /* green */

$sixth-color: #ffffff; /* white */

$seventh-color: #5E6977; /* dark grey for background */

$eigth-color: #b0b6bc; /* white fonts at dark background */